# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
.DS_Store
.idea/
.idea/*
.vscode
*.sublime*
npm-debug.*
dist/
node_modules/
package-lock.json
app/css/*

